## DEFUNCIONES

In [29]:
import pandas as pd

### Leemos nuestro csv de la pagina de datos libres de españa
#### link: https://datos.gob.es/es/catalogo/ea0010587-defunciones-por-causas-lista-reducida-provincia-de-defuncion-y-sexo-ecm-identificador-api-t15-p417-covid-l0-03013-px

In [30]:

info_españa_defunciones = pd.read_csv('defunciones_españa.csv',delimiter=';')
info_españa_defunciones.head()

  Causa de muerte (lista reducida)   Sexo Provincia de defunción   Total
0  001-102 I-XXII.Todas las causas  Total                  Total  231014
1  001-102 I-XXII.Todas las causas  Total               Albacete    2814
2  001-102 I-XXII.Todas las causas  Total       Alicante/Alacant    7610
3  001-102 I-XXII.Todas las causas  Total                Almería    2385
4  001-102 I-XXII.Todas las causas  Total            Araba/Alava    1507

In [31]:
info_españa_defunciones.head(8)## mostrar por consola en un data frame el numero de datos especificados en el ()

  Causa de muerte (lista reducida)   Sexo Provincia de defunción   Total
0  001-102 I-XXII.Todas las causas  Total                  Total  231014
1  001-102 I-XXII.Todas las causas  Total               Albacete    2814
2  001-102 I-XXII.Todas las causas  Total       Alicante/Alacant    7610
3  001-102 I-XXII.Todas las causas  Total                Almería    2385
4  001-102 I-XXII.Todas las causas  Total            Araba/Alava    1507
5  001-102 I-XXII.Todas las causas  Total               Asturias    6217
6  001-102 I-XXII.Todas las causas  Total                  Avila    1206
7  001-102 I-XXII.Todas las causas  Total                Badajoz    3203

In [32]:
print(info_españa_defunciones) ## mostrar por consola los datos

                      Causa de muerte (lista reducida)     Sexo  \
0                      001-102 I-XXII.Todas las causas    Total
1                      001-102 I-XXII.Todas las causas    Total
2                      001-102 I-XXII.Todas las causas    Total
3                      001-102 I-XXII.Todas las causas    Total
4                      001-102 I-XXII.Todas las causas    Total
...                                                ...      ...
18916  102 Otras causas externas y sus efectos tardíos  Mujeres
18917  102 Otras causas externas y sus efectos tardíos  Mujeres
18918  102 Otras causas externas y sus efectos tardíos  Mujeres
18919  102 Otras causas externas y sus efectos tardíos  Mujeres
18920  102 Otras causas externas y sus efectos tardíos  Mujeres

      Provincia de defunción   Total
0                      Total  231014
1                   Albacete    2814
2           Alicante/Alacant    7610
3                    Almería    2385
4                Araba/Alava    1507
...                      ...     ...
18916             Valladolid       0
18917                 Zamora       0
18918               Zaragoza       0
18919                  Ceuta       0
18920                Melilla       0

[18921 rows x 4 columns]

### Buscamos la causa de muerte por un filtro especifico

In [ ]:
import pandas as pd

# Cargar el archivo CSV
datos_busqueda = pd.read_csv('defunciones_españa.csv',delimiter=';')

# Buscar las filas donde la causa de muerte es "001-102 I-XXII.Todas las causas" 
# y ordenar el resultado por provincia de defunción
busqueda = datos_busqueda.loc[datos_busqueda['Causa de muerte (lista reducida)'] == '001-102 I-XXII.Todas las causas']#.sort_values('Provincia de defunción')

# Mostrar los resultados
print(busqueda)

### Importamos los datos a MySQL

In [46]:
## pasamos los datos que tenemos en el csv a un data frame a MySQL
import pandas as pd
import mysql.connector

# Conectar a la base de datos MySQL
conexion = mysql.connector.connect(user='root', 
                              password='HolaMundo###123',
                              host='localhost',
                              database='defunciones_es')

# Crear la tabla en la base de datos MySQL
cursor = conexion.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS defunciones_1 (
        causa_de_muerte VARCHAR(500),
        sexo VARCHAR(500),
        provincia_de_defuncion VARCHAR(500),
        total DECIMAL(20,2) UNSIGNED
    )
""")

### Importamos los datos a MySQL

In [48]:
# Insertar los datos en la tabla
for i, row in info_españa_defunciones.iterrows():
    total = float(row['Total'])
    cursor.execute("""
        INSERT INTO defunciones_1 (causa_de_muerte, sexo, provincia_de_defuncion, total)
        VALUES (%s, %s, %s, %s)
    """, (row['Causa de muerte (lista reducida)'], row['Sexo'], row['Provincia de defunción'], total))

conexion.commit()
# Cerrar la conexión a la base de datos
conexion.close()